<h1><div id="header" style type="stylesheets/style.css"><DIV ALIGN=center>Creacion Reportes</div></h1>
<HR NOSHADE>
<BASEFONT SIZE=5>
<div id ="contenedorInfo" style type="stylesheets/style.css">
	<div id="CodigoNiño" class="green box" style="cursor:move" style="color: green" >CodigoNiño</div>
	<div id="PrimerNombre" class="green box" style="cursor:move" style="color: green" >PrimerNombre</div>
	<div id="SegundoNombre" class="green box" style="cursor:move" style="color: green">SegundoNombre</div>
	<div id="PrimerApellido" class="green box" style="cursor:move" style="color: green">PrimerApellido</div>
	<div id="SegundoApellido" class="green box" style="cursor:move" style="color: green">SegundoApellido</div>
        <div id="Fecha" class="green box" style="cursor:move" style="color: green" >FechaNacimiento</div>
	<div id="Edad" class="green box" style="cursor:move" style="color: green">Edad</div>
	<div id="Educador" class="green box" style="cursor:move" style="color: green" style=>Educador</div>
	<div id="Sector" class="green box" style="cursor:move" style="color: green">Sector</div>	
	<div id="Sexo" class="green box" style="cursor:move" style="color: green">Sexo</div>
	<div id="Direccion" class="green box" style="cursor:move" style="color: green">Direccion</div>
	<div id="SituacionCompartir" class="green box" style="cursor:move" style="color: green">SituacionCompartir</div>
	<%= draggable_element :CodigoNiño %>	
	<%= draggable_element :PrimerNombre %>
	<%= draggable_element :SegundoNombre %>
	<%= draggable_element :PrimerApellido %>
	<%= draggable_element :SegundoApellido %>
	<%= draggable_element :Fecha %>
	<%= draggable_element :Edad %>
	<%= draggable_element :Educador %>
	<%= draggable_element :Sector %>
	<%= draggable_element :Sexo %>
	<%= draggable_element :Direccion %>
	<%= draggable_element :SituacionCompartir %>
</div>
<li class="file optional" id="book_cover_input"><label for="book_cover">FOTO</label><input id="book_cover" name="book[cover]" type="file"></li>
<div id="Informe"></div>
